{# Settings #}
<section id="toolbar-settings-inner" style="display: none;">
    <form id="toolbar-settings-form">
        <fieldset>
            <div>
                <label for="gg-sort-order">Sorting</label><br/>
                <select name="sorting" id="gg-sort-order" style="width: 100%;">
                    <option value="folders">Folders first</option>
                    <option value="photos">Photos first</option>
                </select>
            </div>

            <div>
                <label for="gg-pagination">Items per page</label><br/>
                <select name="pagination" id="gg-pagination" style="width: 100%;">
                    <option value="50">50 items</option>
                    <option value="100">100 items</option>
                    <option value="300">300 items</option>
                    <option value="0">All items</option>
                </select>
            </div>
        </fieldset>
    </form>
</section>
{# End of settings #}